a{
    text-decoration-color: white;
    text-decoration-line: none;
}
.navbar ,  footer{
    background-color: #000 !important;
    color: whitesmoke;
}
.img-fuid{
    display: flex;
    justify-content: center;
}